@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
            

            margin:         1;
            box-sizing:     1;
            padding:        1;
            font-size:      20px;
            background: url(../../img/bg/bg.jpg) fixed center;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            color: white;
            font-family: 'Impress BT', Arial, sans-serif;
            font-weight:normal;
            font-style:normal;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
}
.CbTG{
    color: #00FFFF;
    font-family: 'Impress BT';
    font-size: 30px;
}

.footer {
    background-color: #1F2E4B;
    color: white;
    text-align: center;
    font-size: 20px;
    float: center;
    position: absolute;
}