@font-face {
    font-family: 'Impress BT';
    src: url('ImpressBT-Regular.woff2') format('woff2'),
        url('ImpressBT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
}

.banner {
    display: none;
    color: white  
}

.img-info {
    width: 100%;
}

.img-info h2 {
    padding: 30px 30px 20px;
    font-family: 'Impress BT';
    font-size: 50px;
    color: #FEC5E5;
    line-height: 44px;
}

.img-info h1 {
    padding: 30px 30px 20px;
    font-family: 'Impress BT';
    font-size: 50px;
    color: #FEC5E5;
    line-height: 44px;
}

.img-info p {
    padding: 0px 30px 20px;
    font-family: 'Impress BT';
    font-size: 16px;
    color: #FEC5E5;
    line-height: 24px;
}

.img-Destiny {
    width: 30%;    
}

@media only screen and (min-width: 768px) {
    .banner {
        display: block;
        width: 100%;
        padding-bottom: 30px;
    }

    .wrapper {
    width: 600px;
    margin: 0 auto;
    }

    .img-info h2 {
    padding: 20px 0px 0px;
    }

    .img-info h1 {
    padding: 20px 0px 0px;
    }

    .img-info p {
    padding: 20px 0px 0px;
    }

    .img-Destiny {
    padding-top: 30px;
    }

    .abtme {
        
    width: 600px;
    margin: 0 auto;
    }
}

@media only screen and (min-width: 1000px) {

    .wrapper {
    width: 1000px;
    }

    .img-info p {
        float: left;
    }

    .img-Destiny {
    padding-top: 0px;
    width: 300px;
    float: right;
    }

    .img-info h2 {
        width: 50%;
        float: center;
    }
    .abtme {
        width: 50%;
        margin: 0 auto;
    }
}

:root { font: 20px/1.2 "Impress BT", arial; }

body {
            

            margin:         1;
            box-sizing:     1;
            padding:        1;
            font-size:      20px;
            background: url(../../img/bg/bg.jpg) fixed center;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            font-family: 'Impress BT', Arial, sans-serif;
            font-weight:normal;
            font-style:normal;
}

.Zachary {
    color: #FEC5E5;
    text-decoration: none;
}

.CbTG{
    color: #9370db;
    text-shadow:
    -1px -1px 0 silver,
    1px -1px 0 silver,
    -1px 1px 0 silver,
    -1px 1px 0 silver;
}